*{
    margin: 0 auto; font-family: 'Arial', monospace;
}
html{
    display: grid; 
    align-items: center;
    color: #f0f0f0; 
    height: 100%;
    width: 100%;
    background: linear-gradient(#2f2f2f,#0f0f0f); 
}
a:hover{
    filter:brightness(70%);
}
a:active{
    filter:brightness(50%);
}